<template>
    <div class="flex justify-center pt-8 sm:justify-start sm:pt-0 logo">
        Test Store
    </div>
</template>

<script>
export default {}
</script>

<style>
.logo {
    color: darkred;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}
</style>
